@model ExceptionViewModel
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error - Exception-handling in an IIS-hosted ASP.NET web-application</title>
	</head>
	<body>
		<h1>Error</h1>
		@if(Model != null)
		{
			if(!string.IsNullOrWhiteSpace(Model.Heading))
			{
				<h2>@Model.Heading</h2>
			}
			if(!string.IsNullOrWhiteSpace(Model.Description))
			{
				<p>@Model.Description</p>
			}
			if(!string.IsNullOrWhiteSpace(Model.DetailedDescription))
			{
				<p>@Model.DetailedDescription</p>
			}
			if(Model.Exception != null)
			{
				<p>@Model.Exception.ToString()</p>
			}
		}
		@Html.Partial("~/Views/Shared/Links.cshtml")
		@Html.Partial("~/Views/Shared/ClientCertificate.cshtml", Model.ClientCertificate, new ViewDataDictionary())
		@Html.Partial("~/Views/Shared/Scripts.cshtml")
	</body>
</html>